* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.canvas {
    width: 70%;
    height: 90vh;
    display: block;
}

.btn {
    font-size: 16px;
    margin: 2px;
    padding: 8px;
    border: 1px solid #131313;
    border-radius: 5px;
    cursor: pointer;
    background: #E6E6FA;
}

.btn:hover {
    background: #D3D3D3;
}

.cases_btn , .continents_btn{
    z-index: 1;
}

.cases_btn{
    display: none;
}